{% extends "base.html" %}
{% load static wagtailimages_tags translation_util_tag %}


{% block extra_css %}

{% endblock extra_css %}


{% block content %}

<section class="hero is-medium" style="
  background-image: url(https://orig14.deviantart.net/7584/f/2015/181/2/7/flat_mountains_landscape_by_ggiuliafilippini-d8zdbco.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  ">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {% is_english_page page as EN %}
                {% if EN %}
                Welcome!
                {% else %}
                歡迎!
                {% endif %}
            </h1>
            <h2 class="subtitle">
                {% if EN %}
                This is the place where I share tutorials and dev logs.
                {% else %}
                這是我分享教學、開發紀錄、專案Demo、開發小工具的地方。
                {% endif %}
            </h2>
        </div>
    </div>
</section>

{% get_current_language_path page as CLP %}
<section class='section has-background-danger-light'>
    <div class='container is-widescreen'>
        <div class='columns'>
            <div class='column is-one-fifth'>
                {% include "Menu.html" %}
            </div>
            <div class='column'>
                <h2 class='title'>
                    {{ PostGroupTitle }}
                </h2>
                <div class="columns is-multiline">
                    {% for post in posts %}
                    <div class="column is-4">
                        <div class="card is-transparent is-card-equal-height">
                            <div class="card-image">
                                <figure class="image is-16by9">
                                    {% image post.thumbnail original as pto %}
                                    <img src="{{ pto.url }}"
                                         alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="title is-5"> <a href="/{{ CLP }}/blog/{{ post.slug }}">{{ post.title }}</a></p>
                                    <p class="subtitle is-5">{{ post.subtitle}}</p>
                                </div>
                            </div>
                            <footer class="card-footer pr-3 is-justify-content-flex-end">
                                    {{ post.date|date:'Y-m-d' }}
                            </footer>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
