{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/PufStudio.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&display=swap" rel="stylesheet">  
        
    {% block extra_css %}
    {% endblock %}
</head>

<body onload="brython()">
    {% wagtailuserbar %}
  <nav class="navbar is-warning is-transparent" role="navigation" aria-label="main navigation" id='NAV'>
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class='px-5' src={% static 'img/logo.png' %} >
        <h1 class='title'>Puf Studio</h1>
      </a>

      <a role="button" class="navbar-burger" id='NavbarImpl' aria-label="menu" aria-expanded="false" data-target="PufNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id='PufNavbar' class='navbar-menu'>
      <div class="navbar-end">
        <div class='navbar-item has-dropdown is-hoverable'>
          <a class='navbar-link is-size-4' id='PythonLinks'>Python</a>
          <div class='navbar-dropdown is-boxed is-size-5' id='PythonLinksContent'>
            <a class="navbar-item">Tutorial Series 1</a>
            <a class="navbar-item">Tutorial Series 2</a>
          </div>
        </div>
        <div class='navbar-item has-dropdown is-hoverable'>
          <a class='navbar-link is-size-4' id='UnrealLinks'>Unreal</a>
          <div class='navbar-dropdown is-boxed is-size-5' id='UnrealLinksContent'>
            <a class="navbar-item">Unreal Series 1</a>
            <a class="navbar-item">Unreal Dev Tools</a>
          </div>
        </div>
        <a class="navbar-item is-size-4">
          Freelancer
        </a>
        <a class="navbar-item">
          <span class='icon has-text-info is-large'><i class="material-icons is-size-2">search</i></span>
        </a>
      </div>
    </div>

  </nav>
    {% block content %}    {% endblock %}
  <!-- footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/PufStudio.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/brython.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/brython_stdlib.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script> -->
    <script type="text/python">    
from general_utils import NavbarImpl
      {% block extra_python %} {% endblock %}
    </script>
</body>
</html>
