{% load static wagtailuserbar menus_tag translation_util_tag %}
{% is_english_page page as EN %}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/PufStudio.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    {% block extra_css %}
    {% endblock %}
</head>

<body onload="brython()">
<nav class="navbar is-warning" role="navigation" aria-label="main navigation" id='NAV'>
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img class='px-5' src={% static 'img/logo.png' %} >
            <h1 class='title' id="SiteTitle">Puf Studio</h1>
        </a>

        <a role="button" class="navbar-burger" id='NavbarImpl' aria-label="menu" aria-expanded="false"
           data-target="PufNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id='PufNavbar' class='navbar-menu'>
        <div class="navbar-end">
            {% get_menu "about" True as ABOUT %}
            <a class='navbar-item is-size-4 pr-5' href='{{ ABOUT.link }}'>{{ ABOUT.title }}</a>
            <div class='navbar-item has-dropdown is-hoverable'>
                <a class='navbar-link is-size-4' id='PythonLinks'>Python</a>
                <div class='navbar-dropdown is-boxed is-size-5' id='PythonLinksContent'>
                    {% get_menu "PythonSeries" as PS %}
                    {% for item in PS.menu_items.all %}
                    <a class="navbar-item" href="{{ item.link }}">
                        {{ item.title}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class='navbar-item has-dropdown is-hoverable'>
                <a class='navbar-link is-size-4' id='UnrealLinks'>Unreal</a>
                <div class='navbar-dropdown is-boxed is-size-5' id='UnrealLinksContent'>
                    {% get_menu "UnrealSeries" as US %}
                    {% for item in US.menu_items.all %}
                    <a class="navbar-item" href="{{ item.link }}">
                        {{ item.title }}
                    </a>
                    {% endfor %}
                    {% get_menu "Tools" as T %}
                    {% for item in T.menu_items.all %}
                    <a class="navbar-item" href="{{ item.link }}">
                        {{ item.title }}
                    </a>
                    <a class="navbar-item">Unreal Dev Tools</a>
                    {% endfor %}
                </div>
            </div>
                {% get_menu "RequestJob" True as  RJ%}
            <a class="navbar-item is-size-4" href="{{ RJ.link }}">
                Freelancer
            </a>
            {% get_menu "search" True as SEARCH%}
            <a class="navbar-item" href="{{ SEARCH.link }}">
                <span class='icon has-text-info is-large'><i class="material-icons is-size-2">search</i></span>
            </a>
        </div>
    </div>

</nav>

<a href="#SiteTitle" class='icon is-large is-fadeOut' id="ToTopWidget">
    <i class="fa fa-arrow-up fa-2x has-text-light" style="position: relative;top: 9px"></i>
</a>
{% block content %} {% endblock %}
<!-- footer -->
<section class="hero is-success is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-7">
                    <strong>
                        <i class="material-icons" style="vertical-align: middle">copyright</i> 2021 PufStudio
                    </strong>
                </div>
                <div class="column is-2">
                    <i class="fa fa-github" style="font-size: 1.5rem;"></i> <a href="https://github.com/even311379">GITHUB</a>
                </div>
                <div class="column is-3">
                    <i class="material-icons" style="vertical-align: middle">email</i> even311379@hotmail.com
                </div>
            </div>
        </div>
    </div>
</section>
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/PufStudio.js' %}"></script>
<script type="text/javascript" src="{% static 'js/brython.js' %}"></script>
<script type="text/javascript" src="{% static 'js/brython_stdlib.js' %}"></script>
{% block extra_js %}
{% endblock %}
<script type="text/python">
import general_utils.NavbarImpl
      {% block extra_python %} {% endblock %}



</script>
</body>
</html>
