{% load wagtail_modeltranslation %}

<aside class="menu">
    {% if 'en' in page.url %}
    <p class="menu-label is-size-5">
        Category
    </p>
    <ul class="menu-list">
        <li><a>Tutorials</a></li>
        <li><a>Dev Log</a></li>
        <li><a>Tools</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Python
    </p>
    <ul class="menu-list">
        <li><a>Python ABC tutorial</a></li>
        <li><a>Scraper</a></li>
        <li><a>Data Analysis Tutorial</a></li>
        <li><a>Web Develop</a></li>
        <li><a>App Develop</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Unreal
    </p>
    <ul class="menu-list">
        <li><a>Gameplay Ability System</a></li>
        <li><a>C++ notes</a></li>
        <li><a>UMG notes</a></li>
        <li><a>Dev Demo</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Freelancer
    </p>
    <ul class="menu-list">
        <li><a>Backlog</a></li>
        <li><a class='has-text-danger has-text-weight-bold'>Contact Me</a></li>
    </ul>
    {% else %}
    <p class="menu-label is-size-5">
        Category
    </p>
    <ul class="menu-list">
        <li><a>教學</a></li>
        <li><a>開發紀錄</a></li>
        <li><a>工具</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Python
    </p>
    <ul class="menu-list">
        <li><a>Python新手教學</a></li>
        <li><a>爬蟲教學</a></li>
        <li><a>資料分析教學</a></li>
        <li><a>網站開發</a></li>
        <li><a>App開發</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Unreal
    </p>
    <ul class="menu-list">
        <li><a>Gameplay Ability System</a></li>
        <li><a>C++筆記</a></li>
        <li><a>UMG筆記</a></li>
        <li><a>開發展示</a></li>
    </ul>
    <p class="menu-label is-size-5">
        Freelancer
    </p>
    <ul class="menu-list">
        <li><a>接案紀錄</a></li>
        <li><a class='has-text-danger has-text-weight-bold'>找我交案</a></li>
    </ul>
    {% endif %}
    {% if has_translation %}
    <hr>
    <div class="menu-list is-size-5">
        <a href="{{ other_url }}">
            <div class="is-flex is-align-items-center">
                <i class="material-icons">public</i>
                <div class="pl-2">{{ other_language }}</div>
            </div>
        </a>
    </div>
    {% endif %}
</aside>
