{% load wagtail_modeltranslation translation_util_tag category_tag %}
{% get_current_language_path page as CLP %}
<aside class="menu">

    <p class="menu-label is-size-5">
        Category
    </p>
    <ul class="menu-list">
        {% get_major_categories as MC %}
        {% for cat in MC %}
        <li><a href="/{{ CLP }}/?major_category={{ cat.slug }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
    <p class="menu-label is-size-5">
        Python
    </p>
    <ul class="menu-list">
        {% get_children_categories 'py' as PYCATS %}
        {% if not PYCATS %}
        <h1 class="has-text-danger">No py Category!</h1>
        {% endif %}
        {% for cat in PYCATS %}
        <li><a href="/{{ CLP }}/?category={{ cat.name }}">{{ cat.title }}</a></li>
        {% endfor %}
    </ul>
    <p class="menu-label is-size-5">
        Unreal
    </p>
    <ul class="menu-list">
        {% get_children_categories 'ue4' as UECATS %}
        {% if not UECATS %}
        <h1 class="has-text-danger">No ue4 Category!</h1>
        {% endif %}
        {% for cat in UECATS %}
        <li><a href="/{{ CLP }}/?category={{ cat.name }}">{{ cat.title }}</a></li>
        {% endfor %}
    </ul>
    <p class="menu-label is-size-5">
        Freelancer
    </p>
    <ul class="menu-list">
        {% get_children_categories 'free' as FRCATS %}
        {% if not FRCATS %}
        <h1 class="has-text-danger">No free Category!</h1>
        {% endif %}
        {% for cat in FRCATS %}
        <li><a href="/{{ CLP }}/?category={{ cat.name }}">{{ cat.title }}</a></li>
        {% endfor %}
        <li><a class='has-text-danger has-text-weight-bold'>Contact Me</a></li>
    </ul>

    {% has_translation page as HT %}
    {% get_other_url request as OURL %}
    {% get_other_language_text page as OLT %}
    {% if HT %}
    <hr>
    <div class="menu-list is-size-5">
        <a href="{{ OURL }}">
            <div class="is-flex is-align-items-center">
                <i class="material-icons">public</i>
                <div class="pl-2">{{ OLT }}</div>
            </div>
        </a>
    </div>
    {% endif %}
</aside>
