{% extends "base.html" %}
{% load static wagtailimages_tags %}


{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock extra_css %}


{% block content %}
{% image page.thumbnail original as bimg %}
<section class="hero is-medium is-info is-bold" style="
  background-image: url({{ bimg.url }});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  ">
    <div class='hero-body'>
        <div class="container">
            <h1 class='title'>{{ page.title }}</h1>
            <h2 class='subtitle'>{{ page.subtitle }}</h2>
        </div>
    </div>
</section>

<section class='section has-background-light'>
    <div class='columns'>
        <div class='column is-one-fifth'>
            {% include "Menu.html" %}
        </div>
        <div class='column has-background-info' id="Article">
            {% for block in page.body %}
            {% if block.block_type == 'heading' %}
            <div class='box has-background-danger'>
                <h2 class="title">{{ block.value }}</h2>
            </div>
            {% elif block.block_type == 'paragraph' %}            
            <div class='content is-medium m-6 is-size-6'>{{ block.value }}</div>
            {% elif block.block_type == 'code' %}
            <div class='content'> {{ block }} </div>
            {% elif block.block_type == 'mermaid' %}
            <div class='mermaid'> {{ block.value|safe }} </div>
            {% elif block.block_type == 'html' %}
            <div class='content'>{{ block.value|safe }}</div>
            {% elif block.block_type == 'video' %}
            <div class='content m-6'>            
                <figure class="image is-16by9">
                    <iframe class="has-ratio" src="{{ block.value }}" frameborder="0"
                        allowfullscreen></iframe>
                </figure>
            </div>
            {% elif block.block_type == 'image' %}
            {% image block.value original as img %}
            <div class='content m-6'>
                <figure class="image is-16x9">
                    <a data-fancybox="gallery" href="{{ img.url }}">
                        <img class="responsive-image" src="{{ img.url }}">
                    </a>
                </figure>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class='column is-one-fifth has-background-warning'>
            <div class="box" id="Bookmark">
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js%}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block extra_python %}
import general_utils.BookmarkGeneration
import general_utils.CenterMermaidSvg
{% endblock %}