h1,h2,h3,h4,h5,h6,p,a  {

    font-family: 'Noto Sans TC', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* #NAV{
    padding: 0 10vh;
    height: 5rem;
} */
a, a:hover, a:visited, a:link, a:active {
    color: inherit !important;
    text-decoration: none;
}

/* this is how to fix prism conflict with bulma */
.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.mermaid .title {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}

.token.operator {
    background-color: rgba(0,0,0,0) !important;
}

#ToTopWidget {
    position: fixed;
    z-index: 9999;
    bottom: 25px;
    right: 25px;
    background: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
}

#ToTopWidget:hover{
    background: rgba(0,0,0,1);
}

.is-transparent {
    background-color: transparent !important;
}
.is-card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.is-card-equal-height .card-footer {
   margin-top: auto;
}

.sticky-menu{
    position: sticky;
    top: 3vh;
}

.responsive-image {
    max-height: 400px;
    width: auto !important;
}

.is-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.is-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}