h1,h2,h3,h4,h5,h6,p,a  {

    font-family: 'Noto Sans TC', sans-serif;
}
html {
  scroll-behavior: smooth;
}
/* #NAV{
    padding: 0 10vh;
    height: 5rem;
} */
a, a:hover, a:visited, a:link, a:active {
    color: inherit !important;
    text-decoration: none;
}

/* this is how to fix prism conflict with bulma */
.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.token.operator {
    background-color: rgba(0,0,0,0) !important;
}

#ToTopWidget {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 9999;
}
.is-transparent {
    background-color: transparent !important;
}
.is-card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.is-card-equal-height .card-footer {
   margin-top: auto;
}
